<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.appcommon.dao.SnoStMapper" >
  <resultMap id="BaseResultMap" type="com.example.appcommon.bean.SnoSt" >
    <id column="sno_St_ID" property="snoStId" jdbcType="BIGINT" />
    <result column="st_Name" property="stName" jdbcType="VARCHAR" />
    <result column="st_No" property="stNo" jdbcType="VARCHAR" />
    <result column="st_Content" property="stContent" jdbcType="VARCHAR" />
    <result column="gen_Type" property="genType" jdbcType="VARCHAR" />
    <result column="no_Length" property="noLength" jdbcType="BIGINT" />
    <result column="cur_Date" property="curDate" jdbcType="TIMESTAMP" />
    <result column="init_Value" property="initValue" jdbcType="BIGINT" />
    <result column="cur_Value" property="curValue" jdbcType="BIGINT" />
    <result column="sno_St_Step" property="snoStStep" jdbcType="BIGINT" />
    <result column="tenant_Id" property="tenantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sno_St_ID, st_Name, st_No, st_Content, gen_Type, no_Length, cur_Date, init_Value, 
    cur_Value, sno_St_Step, tenant_Id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sno_st
    where sno_St_ID = #{snoStId,jdbcType=BIGINT}
  </select>

  <select id="selectByStNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sno_st
    where st_No = #{stNo,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sno_st
  </select>

  <insert id="insert" parameterType="com.example.appcommon.bean.SnoSt" >
    insert into sno_st (sno_St_ID, st_Name, st_No, 
      st_Content, gen_Type, no_Length, 
      cur_Date, init_Value, cur_Value, 
      sno_St_Step, tenant_Id)
    values (#{snoStId,jdbcType=BIGINT}, #{stName,jdbcType=VARCHAR}, #{stNo,jdbcType=VARCHAR}, 
      #{stContent,jdbcType=VARCHAR}, #{genType,jdbcType=VARCHAR}, #{noLength,jdbcType=BIGINT}, 
      #{curDate,jdbcType=TIMESTAMP}, #{initValue,jdbcType=BIGINT}, #{curValue,jdbcType=BIGINT}, 
      #{snoStStep,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.appcommon.bean.SnoSt" >
    insert into sno_st
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="snoStId != null" >
        sno_St_ID,
      </if>
      <if test="stName != null" >
        st_Name,
      </if>
      <if test="stNo != null" >
        st_No,
      </if>
      <if test="stContent != null" >
        st_Content,
      </if>
      <if test="genType != null" >
        gen_Type,
      </if>
      <if test="noLength != null" >
        no_Length,
      </if>
      <if test="curDate != null" >
        cur_Date,
      </if>
      <if test="initValue != null" >
        init_Value,
      </if>
      <if test="curValue != null" >
        cur_Value,
      </if>
      <if test="snoStStep != null" >
        sno_St_Step,
      </if>
      <if test="tenantId != null" >
        tenant_Id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="snoStId != null" >
        #{snoStId,jdbcType=BIGINT},
      </if>
      <if test="stName != null" >
        #{stName,jdbcType=VARCHAR},
      </if>
      <if test="stNo != null" >
        #{stNo,jdbcType=VARCHAR},
      </if>
      <if test="stContent != null" >
        #{stContent,jdbcType=VARCHAR},
      </if>
      <if test="genType != null" >
        #{genType,jdbcType=VARCHAR},
      </if>
      <if test="noLength != null" >
        #{noLength,jdbcType=BIGINT},
      </if>
      <if test="curDate != null" >
        #{curDate,jdbcType=TIMESTAMP},
      </if>
      <if test="initValue != null" >
        #{initValue,jdbcType=BIGINT},
      </if>
      <if test="curValue != null" >
        #{curValue,jdbcType=BIGINT},
      </if>
      <if test="snoStStep != null" >
        #{snoStStep,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.appcommon.bean.SnoSt" >
    update sno_st
    <set >
      <if test="stName != null" >
        st_Name = #{stName,jdbcType=VARCHAR},
      </if>
      <if test="stNo != null" >
        st_No = #{stNo,jdbcType=VARCHAR},
      </if>
      <if test="stContent != null" >
        st_Content = #{stContent,jdbcType=VARCHAR},
      </if>
      <if test="genType != null" >
        gen_Type = #{genType,jdbcType=VARCHAR},
      </if>
      <if test="noLength != null" >
        no_Length = #{noLength,jdbcType=BIGINT},
      </if>
      <if test="curDate != null" >
        cur_Date = #{curDate,jdbcType=TIMESTAMP},
      </if>
      <if test="initValue != null" >
        init_Value = #{initValue,jdbcType=BIGINT},
      </if>
      <if test="curValue != null" >
        cur_Value = #{curValue,jdbcType=BIGINT},
      </if>
      <if test="snoStStep != null" >
        sno_St_Step = #{snoStStep,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        tenant_Id = #{tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    where sno_St_ID = #{snoStId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.appcommon.bean.SnoSt" >
    update sno_st
    set st_Name = #{stName,jdbcType=VARCHAR},
      st_No = #{stNo,jdbcType=VARCHAR},
      st_Content = #{stContent,jdbcType=VARCHAR},
      gen_Type = #{genType,jdbcType=VARCHAR},
      no_Length = #{noLength,jdbcType=BIGINT},
      cur_Date = #{curDate,jdbcType=TIMESTAMP},
      init_Value = #{initValue,jdbcType=BIGINT},
      cur_Value = #{curValue,jdbcType=BIGINT},
      sno_St_Step = #{snoStStep,jdbcType=BIGINT},
      tenant_Id = #{tenantId,jdbcType=VARCHAR}
    where sno_St_ID = #{snoStId,jdbcType=BIGINT}
  </update>

  <update id="synUpdate" parameterType="java.util.Map" >
    update sno_st
    set  cur_Value = #{curValue,jdbcType=BIGINT},
         cur_Date = #{currentTime,jdbcType=TIMESTAMP}
    where  st_No = #{stNo,jdbcType=VARCHAR}  and cur_Date <![CDATA[ < ]]> #{currentTime,jdbcType=TIMESTAMP}
  </update>
</mapper>